<div class="Home">
    <div class="main-card">
        <div class="right-card">
            <div class="infos">
                <img src="../../assets/icons/pngtree-outline-user-icon-png-image_5045523.jpg" alt="avatar"
                    class="avatar" (click)="ToProfile(me.username)">
                <p>{{me.username}}</p>
            </div>
            <div class="comps">
                <button class="comp" (click)="getAllPosts()">News Feed</button>
                <button class="comp">Friends</button>
                <button class="comp">Profile</button>
            </div>
        </div>
        <div class="center-card">
            <div class="create-post">
                <img src="../../assets/icons/pngtree-outline-user-icon-png-image_5045523.jpg" alt="avatar"
                    class="avatar">
                <textarea [(ngModel)]="description" placeholder="Share Something"></textarea>
                <p class="MediaContainer" *ngIf="media !== null"><b>Link To Upload : {{mediaName}}</b></p>
                <label for="Media" class="button">
                    Select Media
                </label>
                <input type="file" id="Media" (change)="setMedia($event)" class="Media" accept="image/*, video/*">
                <button (click)="CreatePost()">Share</button>
                <button (click)="Cancel()">Cancel</button>
            </div>
            <div class="post-card" *ngFor="let post of posts">
                <div class="post-header">
                    <div class="icons">
                        <img [src]="post.user.avatarUrl || 'assets/icons/pngtree-outline-user-icon-png-image_5045523.jpg'"
                            alt="User Avatar" class="avatar" (click)="ToProfile(post.user.username)">
                        <button mat-icon-button [matMenuTriggerFor]="optionsMenu" matTooltip="Options" *ngIf="post.user.username === me.username"
                            class="optionsMenu">
                            <mat-icon class="optionsMenu">more_vert</mat-icon>
                        </button>
                        <mat-menu #optionsMenu="matMenu" class="optionsMenu">
                            <button mat-menu-item (click)="updatePost(post)" class="optionsMenu">
                                <mat-icon>edit</mat-icon>
                                <span>Update</span>
                            </button>
                            <button mat-menu-item (click)="deletePost(post)" class="optionsMenu">
                                <mat-icon>delete</mat-icon>
                                <span>Delete</span>
                            </button>
                        </mat-menu>
                    </div>

                    <div>
                        <strong>{{ post.user.username }}</strong> ·
                        <span class="timestamp">{{ post.createdAt | date:'short' }}</span>
                    </div>
                </div>
                <div class="post-content">
                    <p>{{ post.description }}</p>
                    <div class="post-containt" *ngIf="!post.mediaUrl?.endsWith('null')">
                        <ng-container [ngSwitch]="post.mediaUrl?.split('.').pop()">
                            <img *ngSwitchCase="'jpg'" [src]="post.mediaUrl" alt="Post image" class="post-media">
                            <img *ngSwitchCase="'jpeg'" [src]="post.mediaUrl" alt="Post image" class="post-media">
                            <img *ngSwitchCase="'png'" [src]="post.mediaUrl" alt="Post image" class="post-media">
                            <video *ngSwitchCase="'mp4'" [src]="post.mediaUrl" controls class="post-media"
                                preload="metadata"></video>
                        </ng-container>
                    </div>
                </div>
                <div class="post-actions">
                    <button class="interactions" (click)="React(post.id)">
                        ❤️ {{ post.likeCount || 0 }}
                    </button>
                    <button class="interactions" (click)="ShowSinglePost(post.id)">
                        💬 {{ post.commentsCount || 0 }}
                    </button>
                </div>
            </div>


        </div>

        <div class="left-card">
            <button (click)="Logout()" class="logout">Logout</button>
            <div class="suggetions" *ngIf="others && others.length > 0">
                <h2>Suggestions</h2>
                <div class="others" *ngFor="let user of others">
                    <div class="user">
                        <p (click)="ToProfile(user.username)" class="toprofile">{{user.username}}</p>
                        <button (click)="Follow(user.id)" class="follow">{{ user.follow ? 'Unfollow' : 'Follow' }}</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>