 <div class="post-card">
                <div class="post-header">
                    <div class="icons">
                        <img [src]="post.user.avatarUrl || 'assets/icons/pngtree-outline-user-icon-png-image_5045523.jpg'"
                            alt="User Avatar" class="avatar">
                        <button mat-icon-button [matMenuTriggerFor]="optionsMenu" matTooltip="Options" *ngIf="post.user.username === me.username"
                            class="optionsMenu">
                            <mat-icon class="optionsMenu">more_vert</mat-icon>
                        </button>
                        <mat-menu #optionsMenu="matMenu" class="optionsMenu">
                            <button mat-menu-item (click)="updatePost(post)" class="optionsMenu">
                                <mat-icon>edit</mat-icon>
                                <span>Update</span>
                            </button>
                            <button mat-menu-item (click)="deletePost(post)" class="optionsMenu">
                                <mat-icon>delete</mat-icon>
                                <span>Delete</span>
                            </button>
                        </mat-menu>
                    </div>

                    <div>
                        <strong>{{ post.user.username }}</strong> ·
                        <span class="timestamp">{{ post.createdAt | date:'short' }}</span>
                    </div>
                </div>
                <div class="post-content">
                    <p>{{ post.description }}</p>
                    <div class="post-containt" *ngIf="!post.media?.endsWith('null')">
                        <ng-container [ngSwitch]="post.media?.split('.').pop()">
                            <img *ngSwitchCase="'jpg'" [src]="post.media" alt="Post image" class="post-media">
                            <img *ngSwitchCase="'jpeg'" [src]="post.media" alt="Post image" class="post-media">
                            <img *ngSwitchCase="'png'" [src]="post.media" alt="Post image" class="post-media">
                            <video *ngSwitchCase="'mp4'" [src]="post.media" controls class="post-media"
                                preload="metadata"></video>
                        </ng-container>
                    </div>
                </div>
                <div class="post-actions">
                    <button class="interactions" (click)="React(post.id)">
                        ❤️ {{ post.likeCount || 0 }}
                    </button>
                    <button class="interactions" (click)="ShowSinglePost(post.id)">
                        💬 {{ post.comments || 0 }}
                    </button>
                </div>
            </div>