/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
   
}

body {
     width: 100%;
    height: 100%;   
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Success Toast - Green */
.success-snackbar {
  --mdc-snackbar-container-color: #4caf50 !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-snack-bar-button-color: white !important;
}

.success-snackbar .mdc-snackbar__surface {
  background-color: #4caf50 !important;
}

.success-snackbar .mdc-snackbar__label {
  color: white !important;
}

/* Error Toast - Red */
.error-snackbar {
  --mdc-snackbar-container-color: #f44336 !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-snack-bar-button-color: white !important;
}

.error-snackbar .mdc-snackbar__surface {
  background-color: #f44336 !important;
}

.error-snackbar .mdc-snackbar__label {
  color: white !important;
}
